@use "@/styles/helpers" as *

.content
    font-size: 1rem
    position: relative
    @media screen and ( min-width: 991px )
        height: 100vh
        overflow: hidden

    @media screen and ( max-width: 1441px )
        font-size: 0.6rem

.about
    @media screen and ( min-width: 991px )
        // scroll-snap-align: start

        display: flex
        min-height: 100vh
    @media screen and ( max-width: 990px )
        flex-direction: column

    &__left
        @extend %flex-center
        width: 100%
        // height: 30vh
        // padding: 8.5em
        padding: 80px 0

        @media screen and ( min-width: 768px )
            padding: 60px 0

        @media screen and ( min-width: 990px )
            height: 100vh
            transition: transform 0.2s ease-out
            &[data-hidden="true"]
                transform: translateX(-100%)

    &__logo
        position: relative
        width: 132px

        @media screen and ( min-width: 768px )
            width: 185px

        @media screen and ( min-width: 990px )
            width: 250px

        @media screen and ( min-width: 1440px )
            width: 370px

    &__right
        width: 100%
        background: $black
        display: flex
        flex-direction: column
        justify-content: center
        gap: 4.375em
        padding: 40px
        font-size: 1.1875em
        font-weight: 700
        position: relative

        @media screen and ( min-width: 768px )
            padding: 50px 100px

        @media screen and ( min-width: 990px )
            height: 100vh
            transition: transform 0.2s ease-out
            &[data-hidden="true"]
                transform: translateX(100%)

        @media screen and ( min-width: 1440px )
            padding: 80px

    &__title
        font-size: 1.875em
        font-weight: 900
        text-align: left

        @media screen and ( min-width: 768px )
            text-align: center
        @media screen and ( min-width: 990px )
            text-align: left

.teamWrapper

    @media screen and ( min-width: 990px )
        position: absolute
        top: 0
        left: 0
        right: 0
        transition: top 0.2s ease-out
        &[data-hidden="true"]
            top: 100%

.team
    display: flex
    flex-direction: column
    background: $black
    min-height: 100vh
    padding: 35px

    &__title
        padding-top: 3.125em
        text-align: center
        font-size: 1.5625em
        font-weight: 900
        margin-bottom: 3.125em

    --member-width: 250px
    &__members
        display: grid
        grid-template-columns: repeat(auto-fit, var(--member-width))
        justify-content: center

        @media screen and ( min-width: 768px )
            --member-width: 285px

        @media screen and ( min-width: 990px )
            --member-width: 250px

        @media screen and ( min-width: 1440px )
            --member-width: 372px

    &__member
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.45)
        height: var(--member-width)
