@use "@/styles/helpers" as *

.page
    height: 100%
    overflow: hidden
    position: relative

.content
    font-size: 1rem
    @extend %hide-scrollbar
    @media screen and ( min-width: 991px )
        scroll-snap-type: y mandatory
        overflow-y: scroll
        height: 100vh
        
    @media screen and ( max-width: 1441px )
        font-size: 0.6rem

.about
    @media screen and ( min-width: 991px )
        scroll-snap-align: start
        
    display: flex
    min-height: 100vh
    @media screen and ( max-width: 990px )
        flex-direction: column

    &__left
        @extend %flex-center
        width: 100%
        height: 100vh
        padding: 8.5em

    &__logo
        position: relative
        width: 23.125em

        @media screen and ( max-width: 1367px )
            width: 18em

        @media screen and ( max-width: 769px )
            width: 16em

    &__right
        width: 100%
        height: 100vh
        background: $black
        display: flex
        flex-direction: column
        justify-content: center
        gap: 4.375em
        padding: 5em 5em 6.25em
        font-size: 1.1875em
        font-weight: 700

        @media screen and ( max-width: 990px )
            padding: 2em 5%

    &__title
        font-size: 1.875em
        font-weight: 900

        @media screen and ( max-width: 769px )
            text-align: center
        @media screen and ( max-width: 321px )
            text-align: left

.team
    @media screen and ( min-width: 991px )
        scroll-snap-align: start
    min-height: 100vh
    padding: 3.125em 5.625em 3.125em 6.875em
    display: flex
    flex-direction: column
    gap: 3.125em
    background: $black

    @media screen and ( max-width: 990px )
        padding: 3.125em 5% 3.125em

    &__title
        padding-top: 3.125em
        text-align: center
        font-size: 1.5625em
        font-weight: 900

    &__members
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(20.125em, 1fr))
        justify-content: center
