@use "@/styles/helpers" as *

.page
    height: 100vh
    position: relative
    
.contactForm
    display: flex
    justify-content: center
    align-items: center
    @extend %position-fit
    top: 4.375em

    @media screen and ( max-width: 1367px )
        font-size: 0.7rem


    &__wrapper
        padding: 0.9375em
        border-radius: 15px
        background: #2B2E2F
        max-width: 90%
        width: 40em
        
        height: min(32.3125em, 100%)

    &__field
        border: 1px solid $yellow
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding: 1em 1em
        gap: 3.125em
        height: 100%

    &__title
        text-align: center
        font-size: 1.5625em
        float: left
    
    &__inputs
        display: flex
        flex-direction: column
        gap: 1.25em
        width: min(100%, 25em)
        font-size: 1rem
    
    &__input
        border-radius: 6px
        border: none
        box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.3)
        padding: 8px 15px
        text-transform: none

        &::placeholder
            color: $lightgray
            text-transform: uppercase
            
    &__submit
        border-radius: 6px
        border: none
        font-size: 0.875em
        font-weight: 700
        color: #000
        padding: 0.7813em 0
        cursor: pointer
        box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5)

    &__media
        display: flex
        gap: 1.25em

    &__link
        width: 1.5625em

    &__envelope
        width: 1.875em