*
    margin: 0
    padding: 0
    box-sizing: border-box
    text-transform: uppercase

ul
    list-style: none

a
    text-decoration: none
    color: inherit

img
    object-fit: cover
    display: block

button
    border: none
        
button, a
    cursor: pointer