@use "@/styles/helpers" as *

.new
    display: flex
    flex-direction: column
    border-radius: 10px
    background: $black
    width: 245px
    height: 30rem

    &__img
        position: relative
        height: 50%
        width: 100%
        border-radius: 10px 10px 2px 2px
        overflow: hidden

        &Img
            @extend %position-fit
            width: 100%
            height: 100%

    &__text
        height: 50%
        display: flex
        flex-direction: column
        padding: 3em 1.8em
        gap: 0.625rem
        font-size: 0.625rem
        font-weight: 700

    &__brief
        height: 100%
        overflow: hidden
        position: relative

        &Overlay
            @extend %position-fit
            pointer-events: none
            background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(9,9,121,0) 15%, rgba(0,212,255,0) 100%)

    &__label
        padding: 3px 6px
        background: $yellow
        border-radius: 5px
        color: #000
        font-size: 8px
        width: fit-content

    &__title
        font-size: 15px
        font-weight: 900

    &__foot
        display: flex
        justify-content: space-between
        padding-top: 10px

    &__stats
        display: flex
        align-items: center
        gap: 10px

    &__comments,
    &__views
        display: flex
        gap: 5px

    &__comment
        width: 16px
        height: 12px

    &__view
        width: 21px
        height: 12px
